#quote_content
  .quote{:align => "left", :style => "padding: 18px;"}
    %h2 The Concept
    %br
    %p
      MillionMonks is a place for users to share their wisdom.  The idea for MillionMonks came from a simple question: "What would you pass on?"  The question was asked on Hacker News by member bherms when looking for meaningful and thoughtful ideas to pass on to students in a mentoring program.  With all of the great submissions, bherms realized there was a broad audience.  The thoughts and advice shared in the post could be applied to anyone, young and old, and across any demographic.  From there, MillionMonks was conceived as a community to share and discuss life lessons, advice, and words of wisdom that guide one another through life.  So go ahead, 
      %em share your wisdom.
    %br
    %br
    %h3 The Team
    %p
      %br
      = "The MillionMonks project is a collaborative effort by two like-minded Hacker News members.  It was originally conceived by Brad Herman, an Indianapolis based web developer.  Brad pitched the idea to Laksman Veeravagu, a Texas based designer and the site was planned, designed, and built in a matter of hours using Ruby on Rails and a collection of RubyGems and plugins.  MillionMonks is hosted at #{link_to 'Heroku', 'http://heroku.com'}.  If you'd like to support MillionMonks, contribute your wisdom, suggest new features, or donate!".html_safe
    %p
      %br
      Design by Laksman Veeravagu
      %br
      Development by Brad Herman
    .clear