%br
%p.headline If you could pass on your wisdom to future generations, what would you say?
- if current_user
  = render :partial => "form"
- else
  %p{:style => "margin:18px 0 0 2px;"}
    %textarea#quote_text.disabled{:disabled => "disabled"} Please login to post
    %form{:method => "link", :action => login_path}
      %button#sharewisdom.submit{:type => "submit"}
.clear
= render :partial => "filters"
%br
#wisdoms
  = render :partial => "wisdoms_list", :locals => { :wisdoms => @wisdoms }