<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MillionMonks | Share Your Wisdom, Earn Karma</title>
</head>

<body style="background:url(../images/temp-bg.jpg)">
  <div style='height:1px;width:99%;position:absolute;overflow:visible;top:50%;'>
    <center>
    <img src="../images/temp-logo.png" style="margin-top:-154px;margin-left:-100px" />
    </center>
  </div>
</body>
</html>
